/* This file is for your main application css. */

@import "./phoenix.css";

body{
font-family: 'Roboto', sans-serif;
overflow: auto;
margin:0px;
padding:0px;
}

.left-header{
    min-height: 25vh;
}

.notif{
    background-color: #ad4434;
    color: white;
    font-size: 10pt;
    font-family: 'Poppins', sans-serif;
   padding: 2vh;
}


h3 {
    padding-left: 5vh;
}



.left-color{
    background-color: #fff7dd;
    color: white;
}
.left-color h1 {
    padding-top: 5vh;
    color: #E65A45;
    font-size: 40pt;
    font-family: 'Poppins', sans-serif;

}

.left-color .header{
    color: #9F7939;
    font-size: 17pt;
    font-family: 'Poppins', sans-serif;
}

.left-color .content{
    color: #9F7939;
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;

}

.left-color .bullet-points{
    color: #9F7939;
    font-size: 11pt;
    font-family: 'Poppins', sans-serif;

}

.left-color .footer{
    color: #9F7939;
    font-size: 8pt;
    font-family: 'Poppins', sans-serif;

}
.telefon-img{
    left: 40vw;
    float:left;
    top: 25vh;
    width: 30vw;
    min-width:300px;
}

.custom-container{
    padding-top:7vh;
    padding-left:7vw;

}


.right-color {
    background-color: #E65A45;
    }


input[type=text] {
  max-width:300px;
  width: 100%;
  padding: 12px 20px;
  background-color: white;
  border-radius: 20px;
  line-height:1 ;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=tel] {
  width: 100%;
  max-width:300px;
  padding: 12px 20px;
  line-height:1 ;
  background-color: white;
  border-radius: 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


input[type=submit] {
    line-height:1 ;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #DAAf2a;
  opacity: 1; /* Firefox */
    font-size: 10pt;
    font-family: 'Poppins', sans-serif;
}

.checkbox-label{
    color: #FFFBED;
    font-size: 10pt;
    font-family: 'Poppins', sans-serif;
}

.padding-top-5{
    padding-top:5vh;
}

.padding-top-10{
    padding-top:10vh;
}
.padding-top-20{
    padding-top:20vh;
}

.padding-top-30{
    padding-top:30vh;
}

.fullscreen{
    min-height: 100vh;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.padding-sides{
    padding-left: 7vw;
    padding-right: 7vw;
}

.padding-sides-small{
    padding-left: 4vw;
    padding-right: 4vw;
}
.padding-right-strong{
    padding-right: 30%;

}

.center-text{
    text-align: center
}



.centered-form{
 display: inline-block;
}

.form-title{
    color: #FFFBED;
    font-size: 15pt;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
}


.center-width{
    max-width: 400px;
    min-width:40px;
}


.horizontal-centered{
    display:flex;
    width:100%;
    justify-content:center;
}

.center-new{
    margin: auto
}



.screen-height{
    min-height: 100vh;
}
.inline-block{
    display: inline-block;
}



.vertical-align{
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    border: 1px solid red;
}

.center-text{
    text-align: center;
}

.drive-rules-warning{
    color: #FFC400;
    font-size: 10pt;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}

.drive-rules-title{
    color: #FFFBED;
    font-size: 15pt;
    font-family: 'Poppins', sans-serif;
}

.drive-rules-bullet-points{
    color: #FFFBED;
    font-size: 11pt;
    font-family: 'Poppins', sans-serif;
}

.copyright{
    padding-top: 50px;
    color: #AD4434;
    opacity:1;
    font-size: 5pt;
    font-family: 'Poppins', sans-serif;
}
.left-container{
    padding-left:5vw;
}

.middle-container{
    padding-right:6vw;
    padding-left:5vw;
}

.telefon-container{
    padding-right:0vw;
    padding-left:5vw;
}



@media only screen and (max-width: 1200px) {
.telefon-img{
  visibility: visible;
  }
}

